
/*** General ***/

#content {
    padding: 1.0em;
}

.result {
    margin-bottom: 1.0em;
    padding: 0.5em;
}


@import "../../node_modules/material-ui/src/less/scaffolding.less";

@import "../../node_modules/material-ui/src/less/components.less";