
/*** General ***/

#content {
    padding: 1.0em;
}


.icon-24 { width: 24px; height: 24px; }
.icon-48 { width: 48px; height: 48px; }

/**** Venues ****/

.venue-paper {
    margin-bottom: 1.0em;
    padding: 0.5em;
}


@import "../../node_modules/material-ui/src/less/scaffolding.less";

@import "../../node_modules/material-ui/src/less/components.less";