@import "material-ui.css";
/*** General ***/
.content {
  padding: 1.0em;
}
.result {
  margin-bottom: 1.0em;
  padding: 0.5em;
}
.nav-bar {
  display: block;
}
.app-content {
  padding-top: 60px;
}
/*** Venue View ***/
.venue-header-paper {
  padding: 0.5em;
}
/*** Artist View ***/
.artist-header-paper {
  padding: 0.5em;
}
