{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dangg.net - SXSW {% block title %}{% endblock %}</title>
    <link href="{% static 'css/material-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>
<body>
    <div id="nav"></div>
    {% block content %}

    {% endblock %}
</body>

<script src="{% static "js/base_bundle.js" %}"></script>
</html>